version: "3"

networks:
  loki:

services:
  loki:
    image: grafana/loki:2.8.0
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - loki
    volumes:
      - ${PWD}/docker/loki/etc/loki/local-config.yaml:/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:2.8.0
    volumes:
      - ${PWD}/docker/promtail/etc/promtail/config.yml:/etc/promtail/config.yml
      - ${PWD}/sosreports:/sosreports
      - ${PWD}/sosreports_extract:/sosreports_extract
      - ${PWD}/promtail_configs:/promtail_configs
    command: -config.file=/etc/promtail/config.yml
    networks:
      - loki
    ports:
      - "9080:9080"

  app:
    build:
      context: .
      dockerfile: docker/Dockerfile.app
    volumes:
      - ${PWD}/sosreports:/sosreports
      - ${PWD}/sosreports_extract:/sosreports_extract
      - ${PWD}/promtail_configs:/promtail_configs
      - ${PWD}/app:/app
    command: /app/main.py

  grafana:
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: Loki
          type: loki
          access: proxy 
          orgId: 1
          url: http://loki:3100
          timeout: 300
          basicAuth: false
          isDefault: true
          version: 1
          editable: false
        providers:
        - name: 'default'
          orgId: 1
          type: file
          options:
            path: /opt/grafana/dashboards
        EOF
        /run.sh
    image: grafana/grafana:latest
    ports:
      - "3001:3000"
    volumes:
      - ${PWD}/dashboards:/opt/grafana/dashboards
    networks:
      - loki
