version: "3"

networks:
  loki:

services:
  loki:
    image: grafana/loki:2.9.5
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - loki
    volumes:
      - ${PWD}/docker/loki/etc/loki/local-config.yaml:/etc/loki/local-config.yaml
      - loki-volume:/loki

  promtail:
    image: grafana/promtail:2.9.5
    volumes:
      - ${PWD}/docker/promtail/etc/promtail/config.yml:/etc/promtail/config.yml
      - ${PWD}/sosreports:/sosreports
      - ${PWD}/sosreports_extract:/sosreports_extract
      - ${PWD}/promtail_configs:/promtail_configs
      - promtail-position:/position_data:rw
    command: -config.file=/etc/promtail/config.yml
    networks:
      - loki
    ports:
      - "9080:9080"

  otel:
    image: otel/opentelemetry-collector-contrib:0.88.0
    volumes:
      - ${PWD}/docker/otel/otel-collector-config.yaml:/etc/otel-collector-config.yaml
      - ${PWD}/sosreports:/sosreports
      - ${PWD}/sosreports_extract:/sosreports_extract
    command: ["--config=/etc/otel-collector-config.yaml", ""]
    networks:
      - app
      - loki
    ports:
      - "4317:4317"   # OTLP gRPC receiver
      - "4318:4318"   # OTLP http receiver
      - "55679:55679" # zpages http://localhost:55679/debug/servicez /tracez

  app:
    build:
      context: .
      dockerfile: docker/Dockerfile.app
    volumes:
      - ${PWD}/sosreports:/sosreports
      - ${PWD}/sosreports_extract:/sosreports_extract
      - ${PWD}/logs2replay:/logs2replay
      - ${PWD}/promtail_configs:/promtail_configs
      - ${PWD}/app:/app
    command: /app/main.py
    #command: /bin/bash -c "sleep 999999"
    networks:
      - app

  grafana:
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_LOG_MODE=console
      #- GF_LOG_LEVEL=debug
    #privileged: true
    entrypoint: /run.sh
    image: grafana/grafana:latest
    ports:
      - "3001:3000"
    volumes:
      - ${PWD}/docker/grafana/etc/grafana/provisioning/:/etc/grafana/provisioning/
      - ${PWD}/dashboards:/opt/grafana/dashboards
    networks:
      - loki

networks:
  loki:
    name: loki
  app:
    name: app

volumes:
  loki-volume:
  promtail-position:
