{% for e in sosreports %}
- module: nginx
  access:
    enabled: true
    var.paths: ["{{ sosreport_base_dir }}/{{ e.path }}/var/log/nginx/access.log"]
    input:
      scan_frequency: 20m
      # After eof is reached, how long to wait until trying the file again
      backoff: 20m
      max_backoff: 60m
      close_eof: true
      close_inactive: 10s
      harvester_buffer_size: 1048576

  error:
    enabled: true
    var.paths: ["{{ sosreport_base_dir }}/{{ e.path }}/var/log/nginx/error.log"]
    input:
      scan_frequency: 20m
      # After eof is reached, how long to wait until trying the file again
      backoff: 20m
      max_backoff: 60m
      close_eof: true
      close_inactive: 10s
      harvester_buffer_size: 1048576

{% endfor %}
