# Module: nginx
# Docs: https://www.elastic.co/guide/en/beats/filebeat/7.9/filebeat-module-nginx.html
- module: nginx
  access:
    enabled: true
    var.paths: {{ nginx_access_paths }}
  error:
    enabled: true
    var.paths: {{ nginx_error_paths }}
