{% for e in sosreports %}
- module: tower
  tower:
    enabled: true
    var.paths: ["{{ sosreport_base_dir }}/{{ e.path }}/var/log/tower/*.log"]
    var.fields:
      hostname: "{{ e.hostname }}"
{% endfor %}
