apiVersion: 1
datasources:
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: http://loki:3100
    timeout: 300
    basicAuth: false
    isDefault: true
    version: 1
    editable: false
    uid: "P8E80F9AEF21F6940"
